USE [master]
GO
/****** Object:  Database [DemoDB]    Script Date: 12/15/2020 2:04:34 PM ******/
CREATE DATABASE [DemoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VTG\MSSQL\DATA\DemoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.VTG\MSSQL\DATA\DemoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Job] [nvarchar](max) NULL,
	[About] [nvarchar](max) NULL,
	[Dob] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Residence] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Skype] [nvarchar](max) NULL,
	[Freelance] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.Details] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[EmpCode] [varchar](10) NULL,
	[Position] [varchar](100) NULL,
	[OfficeLocation] [varchar](100) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[igi]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[igi](
	[Client] [nvarchar](255) NULL,
	[Job IDS] [nvarchar](255) NULL,
	[Id] [float] NOT NULL,
 CONSTRAINT [PK_igi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 12/15/2020 2:04:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[Date] [nvarchar](50) NULL,
	[EmpId] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Reporting Manager] [nvarchar](50) NULL,
	[Product] [nvarchar](50) NULL,
	[Client] [nvarchar](50) NULL,
	[JobID] [nvarchar](50) NULL,
	[Project] [nvarchar](50) NULL,
	[Tasks] [nvarchar](50) NULL,
	[No of Hours] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181223091420_InitialCreate', N'2.2.6-servicing-10079')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200410095837_first', N'2.2.6-servicing-10079')
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FullName], [EmpCode], [Position], [OfficeLocation]) VALUES (1, N'Vinay', N'123', N'Hr', N'Btm')
INSERT [dbo].[Employees] ([EmployeeId], [FullName], [EmpCode], [Position], [OfficeLocation]) VALUES (2, N'dffads', N'11111', N'addasdsadsdasd', N'sdddfsfd')
INSERT [dbo].[Employees] ([EmployeeId], [FullName], [EmpCode], [Position], [OfficeLocation]) VALUES (3, N'dhsjdhd', N'jshdhjash', N'sdasd', N'dasasddas')
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
INSERT [dbo].[igi] ([Client], [Job IDS], [Id]) VALUES (N'Beaumont ACO-PHM', N'CR0361 J001', 1)
INSERT [dbo].[igi] ([Client], [Job IDS], [Id]) VALUES (N'Centene /Envolve, Inc- IHPA', N'CR0378 J001', 2)
INSERT [dbo].[igi] ([Client], [Job IDS], [Id]) VALUES (N'Administradora de Riesgos de Salud Humano (ARS Humano) S.A.', N'CR0143 J001', 3)
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([Date], [EmpId], [Name], [Reporting Manager], [Product], [Client], [JobID], [Project], [Tasks], [No of Hours], [Id]) VALUES (N'01-Jul-2020', N'1828', N'Vinay Suresh', N'Veera Prathap Oruganti', N'3D Express Analytics', N'HealthEC 3D Express Analytics', N'PR0001 J036', N'Product Maintenance & Support(L3)', N'Jira and Internal meeting.', 2, 1)
INSERT [dbo].[TimeSheet] ([Date], [EmpId], [Name], [Reporting Manager], [Product], [Client], [JobID], [Project], [Tasks], [No of Hours], [Id]) VALUES (N'01-Jul-2020', N'1828', N'Vinay Suresh', N'Veera Prathap Oruganti', N'3D Express Analytics', N'Maine General', N'CR0391 J001', N'Product Maintenance & Support(L3)', N'Worked on T#20200131134275', 3, 2)
INSERT [dbo].[TimeSheet] ([Date], [EmpId], [Name], [Reporting Manager], [Product], [Client], [JobID], [Project], [Tasks], [No of Hours], [Id]) VALUES (N'01-Jul-2020', N'1828', N'Vinay Suresh', N'Veera Prathap Oruganti', N'3D Express Analytics', N'HealthEC 3D Express Analytics', N'PR0001 J036', N'Product Maintenance & Support(L3)', N'Worked on profile summary.', 3, 3)
GO
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
GO
USE [master]
GO
